@{
    ViewBag.Title = "TMS";
}

<link rel="stylesheet" href="~/Content/datatable.css" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        
        $("#tblDevices").DataTable({
            ajax: "api/Devices",
            columns: [
                {"data": "id"},
                {"data": "latitude"},
                {"data": "longitude"},
                {"data": "duration"},
                {"data": "threshold"},
                {"data": "status"}
            ]
        });
    });
</script>
<p></p>
<div class="row" >
    
    <div class="col-md-8">
        
        <table id="tblDevices" width="50%" align="center" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Duration</th>
                    <th>Threshold</th>
                    <th>Status</th>
                </tr>
            </thead>
        </table>

        <div id="results">

        </div>
    </div>
</div>