@{
    ViewBag.Title = "TMS";
}

@*Angular Library*@
@*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script>
//$(document).ready(function(){
//    $("#btnDashboard").click(function(){
//        $("#divDevices").hide(1000);
//        $("#divDevices").removeClass("show");
//        $("#divDevices").addClass("hide");
//        $("#divDashboard").show(1000);
//    });
//    $("#btnDevices").click(function () {
//        $("#divDashboard").hide(1000);
//        $("#divDevices").show(1000);
//        $("#divDevices").removeClass("hide");
//        $("#divDevices").addClass("show");
//    });
//});
</script>
<p></p>
<div class="row" ng-app="">
    
    <div class="col-md-8">
        
        <div>
            
            <div id="divDevices">
                Devices grid goes here

            </div>

        </div>
        

    </div>
</div>