@{
    ViewBag.Title = "TMS";
}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<p></p>
<div class="row" ng-app="">
    <div class="col-md-4">
       
        <p>
            <button ng-click="dash = false" class="btn btn-primary">
                Dashboard
            </button>
        </p>
        <p>
            <button ng-click="dash = true" class="btn btn-primary">
                Devices
            </button>
        </p>
    </div>
    <div class="col-md-8">
        @*Content*@
        <div>

            <div id="divDashboard" ng-hide="dash">
                dasboard
            </div>
            <div id="divDevices" ng-show="dash">
                devices
            </div>

        </div>
        

    </div>
</div>