@{
    ViewBag.Title = "TMS";
}

@*Angular Library*@
@*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script>
$(document).ready(function(){

    var baseUrl = "https://maps.googleapis.com/maps/api/staticmap?center=9+Galen+St,Watertown,MA&zoom=16&size=800x800";
    var apiKey = "&key=AIzaSyDFT2vE9vv6Jl_4zG69vghiVnq8T4r6fxY";
    var deviceCoordinates = "";
    
    $.getJSON('api/Devices', function (data) {
        $.each(data, function (i) {
            $.each(data.data, function (j) {
                deviceCoordinates += '&markers=' + data[i][j].latitude + ',' + data[i][j].longitude;
            });
        });

        var imgUrl = baseUrl + deviceCoordinates + apiKey;
        $('#staticMap').attr("src", imgUrl);
    });

});
</script>
<p></p>
<div class="row" ng-app="">
    <div class="col-md-2">
       
    </div>
    <div class="col-md-8">
        
        <div>
            <div id="divDashboard" >
                <img id="staticMap" />
            </div>
        </div>
    </div>
    <div class="col-md-2">

    </div>
</div>